{% extends "base.html" %}

{% block title %}About Us - My Simple App{% endblock %}

{% block content %}
    <h1>About This Application</h1>
    <p>This application demonstrates fundamental concepts of web development with Flask, including:</p>
    <ul>
        <li>Defining routes (URLs)</li>
        <li>Using Jinja2 templating to render dynamic HTML</li>
        <li>Handling GET and POST requests</li>
        <li>Passing data from Python to templates</li>
        <li>Basic form handling</li>
    </ul>
    <p>It's designed to be simple and easy to understand for those new to web development.</p>
{% endblock %}
